*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  font-family: "Josefin Sans", sans-serif;
}
img{
    height: 100%;
    width: 100%;
}

#recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; /* space between items */
  padding: 20px;
}
#recipe-container h2{
    padding-top: 15px;
}
#recipe-container div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

#recipe-container img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
/* Header style */
header {
  background-color: #ff6f61;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation style */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

/* Footer style */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}

