*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  font-family: "Josefin Sans", sans-serif;
}
img{
    height: 100%;
    width: 100%;
}

/* Header style */
header {
  background-color: #ff6f61;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

/* Nav style */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}
.card {
  position: relative;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Overlay covers full image */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72%;
  background: rgba(0, 0, 0, 0.4); /* 40% transparent black */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  pointer-events: none; /* allows clicks to pass through */
}

/* Show overlay when card hovered */
.card:hover .overlay {
  opacity: 1;
}

/* Search icon styling */
.search-icon {
  color: rgba(255, 255, 255, 0.9); /* slightly transparent white */
  font-size: 48px;
  z-index: 2;
}

#recipe-container {
  padding: 20px;
}
#recipe-container h2{
    padding-top: 15px;
}
#recipe-container div {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
}

#recipe-container img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}
/* Footer style */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}

